{% extends 'base.html.twig' %}

{% block title %}
    Page de programme
{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de programme</h1>

    <p>Ceci est le contenu de la page de programme</p>
{% endblock %}