{% extends 'base.html.twig' %}

{% block title %}
    Page de programme{{id}}
{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page du programme {{id}}</h1>

    <p>Ceci est le contenu de la page du programme {{id}}</p>
{% endblock %}