<h3 class="text-center text-3xl">Donkey Series</h3>
<nav class="flex justify-center items-center">
  <a class="m-2" href="/">Donkey Series</a>
  <p class="m-2">|</p>
  <a class="m-2" href="program">Test</a>
      <form class="m-2 flex">
        <input class="bg-blue-100 rounded-md" type="search" placeholder="Search" aria-label="Search">
        <button class="bg-lime-500 rounded-md p-1 ml-2 hover:bg-lime-600" type="submit">Search</button>
      </form>   
</nav>          